<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/c2.css') }}">
        <title>Document</title>
    </head>
    <body>
            <div id="UI" class="float_left">
                <button  id="sign_in">Sign in</button>
                <br>
                <h4>You are {{post}} from {{group}}</h4>
                <br>
                <div class="float_left" id="dropmenu">
                    <button id="menu" >Users</button>
                    <div id="list_menu">
                        <a href="">AAAAAAAAAAA</a>
                        <a href="">AAAAAAAAAAA</a>
                        <a href="">AAAAAAAAAAA</a>
                        <a href="">AAAAAAAAAAA</a>
                        <a href="">AAAAAAAAAAA</a>
                        <a href="">AAAAAAAAAAA</a>
                    </div>
                </div>
                
                <div class="float_left" id="dropmenu">
                    <button id="menu" >Post</button>
                    <div id="list_menu">
                        <a href="">AAAAAAAAAAA</a>

                    </div>
                </div>
                <br>
                <div class="table" id="tb1">
                    <table>
                    <tr>
                        <th>Users</th>
                        <th>Post</th>
                    </tr>
                </table>

                </div>
                
            </div>
            <div class="float_left" >
            <h1 style="text-align: center">To do</h1>
             <div class="table" id="tb2">
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Executer</th>
                        <th>Actions</th>
                    </tr>    
                    <tr>
                        <th>Write documentation</th>
                        <th>Max</th>

                        <th style="width: width: min-content">
                            <div class="float_left">
                                <button id="btnAc" >✏️</button>
                                <br>
                                <button id="btnAc">🗑️</button>
                            </div>
                            <button id="btnAc" style="height: 45px" class="float_left"> ➡️ </button>
                        </th>
                    </tr>    
                </table>

            </div>
            </div>
            <div class="float_left" >
            <h1 style="text-align: center">In process</h1>
             <div class="table" id="tb2">
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Executer</th>
                        <th>Actions</th>
                    </tr>    
                    <tr>
                        <th>Write documentation Write documentationWrite documentation</th>
                        <th>Max</th>

                        <th style="width: width: min-content">
                            <div class="float_left">
                                <button id="btnAc" >✏️</button>
                                <br>
                                <button id="btnAc">🗑️</button>
                            </div>
                            <button id="btnAc" style="height: 45px" class="float_left"> ➡️ </button>
                        </th>
                    </tr>    
                </table>

            </div>
            </div>
            <div class="float_left" >
            <h1 style="text-align: center">Done</h1>
             <div class="table" id="tb2">
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Executer</th>
                        <th>Actions</th>
                    </tr>    
                    <tr>
                        <th>Write documentation Write documentation Write documentation Write documentation </th>
                        <th>Max</th>

                        <th style="width: width: min-content">
                            <div class="float_left">
                                <button id="btnAc" >✏️</button>
                                <button id="btnAc">🗑️</button>
                            </div>
                            
                        </th>
                    </tr>    
                </table>

            </div>
            </div>
            

    </body>
</html>